<div class="pull-right hidden-xs">
</div>
Built using <a href="https://github.com/shaialon/ember-admin-dashboards" target="_blank">Shai Alon's ember-admin-dashboard</a>.<br>Recoded to incorporate <a href="https://github.com/jamesarosen/ember-i18n" target="_blank">ember-il8n</a> for efficient, robust translations.  <br> <a href="https://onelink-translations.github.io/whitepapers/clientside-proxy-integration" target="_blank"><strong>Whitepaper</strong></a>.  Github repository:<a href="https://github.com/Suhmedoh/ember-localization" target="_blank">ember-localization</a>
