<div class="pull-right hidden-xs">
</div>
Built using <a href="https://github.com/shaialon/ember-admin-dashboards" target="_blank">Shai Alon's ember-admin-dashboard</a>.<br>Recoded to incorporate <a href="https://github.com/jamesarosen/ember-i18n" target="_blank">ember-i18n</a> for efficient, robust translations.  <br> <a href="https://suhmedoh.gitbooks.io/whitepapers/content/emberjs-proxy-integration.html" target="_blank"><strong>Whitepaper</strong></a>.  Github repository:<a href="https://github.com/onelink-translations/ember-localization" target="_blank">ember-localization</a>
