<section class="content">

	<div class = "row">
		<div class ="col-xs-12">
			{{#box-widget
				title       = (t 'trans.comingsoon.title')
				closable    = false
				collapsable = false
				background  = "green"
			}}
				{{t 'trans.comingsoon.subtitle'}} <br> {{t 'trans.comingsoon.body'}}
			{{/box-widget}}
		</div>
	</div>

</section>
