<section class="content">

	<div class = "row">
		<div class ="col-xs-12">
			{{#box-widget bind-attr
				title       = (t 'trans.documentation.widget.title')
				closable    = false
				collapsable = false
				background  = "green"
			}}
				{{t 'trans.documentation.widget.body'}}
			{{/box-widget}}
		</div>
	</div>
  <div class ="col-xs-12">
    {{t 'trans.documentation.main.body'}}
  </div>
</section>
