<section class="content">

	<div class = "row">
		<div class ="col-xs-12">
			{{#box-widget bind-attr
				title       = (t 'trans.documentation.widget.title')
				closable    = false
				collapsable = false
				background  = "green"
			}}
        <h3>This text is hardcoded.</h3>  It won't change, regardless of the translation.  You can change the language by changing the first two letters in the URL. Current options are: Japanese(ja), Korean(ko), Spanish(es), German(de), Chinese(zh), and Gibberish(yy).
        Built using <a style="color:#DD4B39" href="https://github.com/shaialon/ember-admin-dashboards" target="_blank">Shai Alon's ember-admin-dashboard</a> as a skeleton.<br>Recoded to incorporate <a style="color:#DD4B39" href="https://github.com/jamesarosen/ember-i18n" target="_blank">ember-il8n</a> for efficient, robust translations.  <br> <a style="color:#DD4B39" href="https://onelink-translations.github.io/whitepapers/clientside-proxy-integration" target="_blank"><strong>Whitepaper</strong></a> which explains how this works.  Github repository:<a style="color:#DD4B39" href="https://github.com/Suhmedoh/ember-localization" target="_blank">ember-localization</a>.  This repo contains all you need to run this site.  Check the wiki for tips and hints for where to find things.
			{{/box-widget}}
		</div>
	</div>
  <div class ="col-xs-12">
    {{t 'trans.documentation.main.body'}}
  </div>
</section>
